@charset "ISO-8859-1";
	body {
	background-image:
		url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvZHcxNC10aWdlci1uaW5nLTIxLWphcGFuZXNlLWJnLWpvYjYwOF8xLWt6ZXZjbngwLmpwZw.jpg?s=7XS_LGcz8BtjWHyOUUKT_7TP9lZNZMNnTfram4Qsd24");
	 height: 768px;
	width: 1366px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center {
  text-align: center;
}