@charset "ISO-8859-1";
body {
	background-image:
		url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAeeoFB13gzPAaj6ziYpOOUgge4pA0HMgQmfD36-qYLU3wWV1vFfsKIqY1SKlZ8o_QXwA&usqp=CAU");
	 height: 768px;
	width: 1366px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center {
  text-align: center;
}