@charset "ISO-8859-1";
body {
	background-image:
		url("https://media.istockphoto.com/photos/blurred-city-lights-background-with-green-bokeh-flares-picture-id482940392?b=1&k=20&m=482940392&s=170667a&w=0&h=TonKW-wVTb6WX7vFlg_tHGsZMoTQCCuvz92tuSyAzI0=");
	 height: 768px;
	width: 1366px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center {
  text-align: center;
}