@charset "ISO-8859-1";
body {
	background-image:
		url("https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg");
	 height: 768px;
	width: 1366px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center {
  text-align: center;
}