@charset "ISO-8859-1";
/* th{
	background-color: silver;
}
td{
	background-color: lightblue; 
}
caption {
	font-size: 20px;
	font-weight: bold;
}
body{
	background-image:
		url("https://www.psohub.com/hs-fs/hubfs/BLOG_SALESFORCE_06.png");
	 height: 768px;
	width: 1366px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

body{
 	background-color : #E5E7E9;
 }
caption {
	font-size: 20px;
	font-weight: bold;
	color: #34495E;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0080ff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #707B7C;
}