<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bill</title>
</head>
<body style="background-color: #DBF9FC">
	<h2>Customer Detail</h2>
	<form action="getcustomerbyid" method="get"
		modelAttribute="getcustomer">
		Customer Id: <input type="text" id="customerId" name="id" /> Customer
		Name: <input type="text" id="customerName" /> Phone Number: <input
			type="text" id="phoneNumber" /><br> Address: <input type="text"
			id="address" /> Email Id: <input type="text" id="email" /> City: <input
			type="text" id="city" />
	</form>
	<hr>
	<h2>Product Detail</h2>
	<form action="getproductbyid" method="get" modelAttribute="getproduct">
		Product Id: <input type="text" id="productId" name="id" /> Product
		Name: <input type="text" id="productName" /> Category: <input
			type="text" id="categories" /><br> Price: <input type="text"
			id="price" /> GST Rate: <input type="text" id="gstRate" />
		Description : <input type="text" id="descriptions" />
	</form>
	<hr>
	<div id="table root">
		<table style="text-align: left;">
			<thead>
				<tr>
					<th>Product Id</th>
					<th>Product Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>GST Rate</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<c:forEach var="product" items="${allproducts}">
					<tr>
						<td>${product.productId}</td>
						<td>${product.productName}</td>
						<td>${product.categories}</td>
						<td>${product.price}</td>
						<td>${product.gstRate}</td>
						<td>${product.descriptions}</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
	</div>
	<form style="text-align: right;" action="addinvoice" method="post"
		modelAttribute="addinvoice">
		<h2>Invoice Details</h2>
		<div>
			Invoice Number: <input type="text" id="invoiceNumber" name="id" />
		</div>
		<div>
			Invoice Date: <input type="text" id="invoiceDate" />
		</div>
		<div>
			Customer Id: <input type="text" id="customerId" />
		</div>
		<div>
			Transportation Charge: <input type="text" id="transportationCharges" />
		</div>
		<div>
			Total Amount: <input type="text" id="totalAmount" />
		</div>
	</form>
	<br>
	<form style="text-align: right;" action="addinvoice" method="post"
		modelAttribute="addinvoice">
		<div>
			Invoice Number : <input type="text" id="invoiceNumber" name="id" />
		</div>
		<div>
			Product Id : <input type="text" id="productId" />
		</div>
		<div>
			Quantity : <input type="text" id="quantity" />
		</div>
		<div>
			Price : <input type="text" id="price" />
		</div>
		<div>
			GST : <input type="text" id="gst" />
		</div>
		<div>
			Amount : <input type="text" id="amount" />
		</div>
	</form>
</body>
</html>